
<div class="row" style="margin-top:10px; margin-left: 2px;">
    <div class="col-sm-6">
        <div class="pills w-100 flex-p">
            <ul class="nav nav-pills ">
                <li routerLinkActive="active">
                    <a class="btn btn-primary" [routerLink]="['/user']">
                        User
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a class="btn btn-primary" [routerLink]="['/userdetails/:id']">
                        User Details
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a class="btn btn-primary" style="float: right;" [routerLink]="['/dashboard']">
                        Dashboard
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>
<div class="row" style="margin-top:15px;margin-left: 2px;">
    <div class="col-sm-12 table-responsive">
        <table id="example2" class="table table-bordered table-hover">
            <thead class="tbl-head">
                <tr class="tr-grid-header">
                    <th>id</th>
                 
                    <th>title</th>
                    <th>body</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let user of users'>
                    <td>{{user.id}}</td>
          
                    <td>{{user.title}}</td>
                    <td>{{user.body}}</td>
                    <!-- <td> <button class="delete" title="delete to fav" (click)="delete(repo);">remove from favorite</button></td> -->
                </tr>
            </tbody>

        </table>
    </div>
</div>
