.tbl-head {
    background-color: #50636d;
    color: white;
}
.pills>.nav>li>a {
    border-radius: 4px;
    background: #3a82a8 !important;
    margin-right: 7px;
    font-size: 15px;
    min-width: 64px;
    line-height: 40px;
    padding: 0 16px;
    font-weight: 500;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.pills>.nav>li.active>a {
    background: #19465f !important;
    color: #ffffff;
}

.pills>.nav>li>a:hover {
    color: #ffffff;
    background: #3a82a8 !important;
}

.pills>.nav>li.active>a:hover {
    color: #222222;
    background: #50636d !important;
}